<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="./todo.css">
		<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
		<title>Vue ToDo</title>
	</head>

	<body>
		<div class="wrapper">
			<div class="container mb-4">
				<div class="row justify-content-lg-center">
					<div class="col-4">
						<h4 class="text-center">CRUD ToDo</h4>
						<form>
							<div class="form-group">
								<label for="name">Название</label>
								<input v-model="name" type="text" class="form-control" id="name" autocomplete="off">
							</div>
							<div class="form-group">
								<label for="description">Описание</label>
								<textarea v-model="description" type="email" class="form-control" rows="3" id="description"></textarea>
							</div>
							<div class="form-group">
								<label for="priority">Важность</label>
								<select v-model="priority" class="form-control" id="priority">
									<option value="0">Оч важно</option>
									<option value="1">Ну такое</option>
									<option value="2">Можно забить</option>
								</select>
							</div>
							<div class="text-center">
								<button
										class="btn btn-success"
										@click="createTodo($event)"
										:disabled="!name || !description || !priority.toString()">
									{{ updatedIndex !== null ? 'Изменить' : 'Добавить'  }}
								</button>
							</div>
						</form>
					</div>
					<div class="col-5">
						<h4 class="text-center">Список <s>фигни</s> дел</h4>
						<div
							class="alert"
							:class="{ 'alert-danger': todo.priority === 0, 'alert-warning': todo.priority === 1, 'alert-info': todo.priority === 2 }"
							v-for="(todo, index) in todos"
							:data-index="index">
							<h4 class="alert-heading" :class="{ 'strike': todo.finished }">
								<span>{{ todo.name }}</span>
								<i class="text-danger fa fa-close pull-right" @click="deleteTodo(index)"></i>
								<i class="text-success fa fa-check pull-right" @click="finishTodo(index)"></i>
								<i v-if="!todo.finished" class="text-info fa fa-pencil pull-right" @click="updateTodo(index)"></i>
							</h4>
							<hr>
							<p class="mb-0" :class="{ 'strike': todo.finished }">{{ todo.description }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="./node_modules/vue/dist/vue.js"></script>
		<script src="./todo.js"></script>
	</body>
</html>